{% extends "base.html" %}
{% block content %}

<br><br>
<div class="container">
  <div class="row">
	{{object_list.total}}
      <form action="{% url 'order:create_order' %}" method="post">
      {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">نام</label>
          <input type="text" class="form-control" id="first_name" name="first_name" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">نام خانوادگی</label>
          <input type="text" class="form-control" id="last_name" name="last_name" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">ایمیل</label>
          <input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">ادرس</label>
          <input type="text" class="form-control" id="address" name="address" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">کدپستی</label>
          <input type="text" class="form-control" id="postal_code" name="postal_code" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">شهر</label>
          <input type="text" class="form-control" id="city" name="city" aria-describedby="emailHelp">
        </div>       

                    <select class="form-select mt-2" aria-label="Default select example" name="shipping" id="shipping">
		        {% for i in shipping_query %}
                            <option value="{{i.id}}">{{i.name}} | {{i.price}} ریال</option>
        		{% endfor %}
                    </select>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
</div>
{% endblock %}
