{% extends "base.html" %}
{% block content %}
{% comment %} <form method="post">
    {% csrf_token %}
<input type="submit" value="save">
</form> {% endcomment %}
<div class="container">
    <h1 class="text-center">درباره ما</h1>
    {% comment %} <p>
        از زمان فعالیت تیم ما یک سالی میگذره و سعی بر این موضوع داریم که کالاهای دیجیتال و با قیمت های مناسب در دسترس مشتری های خودمون قرار بدیم
    
    </p> {% endcomment %}
<h3>
خوش آمدید به [نام فروشگاه]!
</h3>
<h4>
 ما کی هستیم؟
</h4>
<p>
[نام فروشگاه] یک پلتفرم آنلاین است که با هدف ارائه بهترین تجربه خرید برای شما ایجاد شده است. ما با افتخار وارد دنیای تجارت الکترونیک شده‌ایم تا انواع محصولات با کیفیت را به شما عرضه کنیم.
</p>
<h4>
 چرا [نام فروشگاه]؟
</h4>
<p>
1. محصولات با کیفیت: ما با دقت و انتخاب دقیق محصولات را از برترین تولیدکنندگان جهان انتخاب می‌کنیم، تا به شما کیفیت بی‌نظیری ارائه دهیم.
</p>
<p>
2. تنوع و گستره: از لباس و اکسسوری تا الکترونیک و وسایل خانگی، [نام فروشگاه] همه نیازهای شما را پوشش می‌دهد.
</p>
<p>
3. خدمات مشتریان برتر: تیم پشتیبانی ما همواره آماده است تا به هر سوال یا درخواست شما پاسخ دهد. ما به ارتقاء تجربه خرید شما اهمیت می‌دهیم.
</p>
<h4>
 ارزش‌های ما
</h4>
<p>
- کیفیت: ما به قاعده "کیفیت اولویت ماست" پایبندیم و همواره به بهبود کیفیت محصولاتمان متعهد هستیم.
</p>
- شفافیت: با [نام فروشگاه] همیشه در ارتباط با مشتریان خود صادقانه و شفاف هستیم.
<p>
- ابتکار و نوآوری: ما در تلاش برای بهبود و نوآوری دائمی هستیم تا تجربه خرید شما را بهبود بخشیم.
</p>
<h4>
 تماس با ما
</h4>
<p>
اگر سوال یا نیاز به کمکی دارید، تیم پشتیبانی ما همیشه آماده است تا شما را یاری کند. با ما تماس بگیرید: [آدرس ایمیل] یا تلفن [شماره تلفن].
</p>
<p>
ما از انتخاب شما برای خرید از [نام فروشگاه] سپاسگزاریم و امیدواریم که تجربه خرید شما از ما لذت‌بخش باشد.
</p>
با تشکر از حمایت شما.
</h5>
</div>



{% endblock %}