{% extends 'base.html'  %}
{% block content %}
{% comment %} <form method="post">
    {% csrf_token %}
<input type="submit" value="save">
</form> {% endcomment %}
<div class="container">

<h3>
شرایط و روش‌های پرداخت در فروشگاه تِکی کالا
</h3>

<p>
برای راحتی و امنیت خرید شما، فروشگاه تِکی کالا تنها از درگاه پرداخت آنلاین استفاده می‌کند. به این ترتیب شما می‌توانید به سرعت و با اطمینان، خرید خود را انجام دهید. روش‌های پرداخت قابل قبول در فروشگاه تِکی کالا به شرح زیر می‌باشد:
</p>

<h4>
1. پرداخت آنلاین
</h4>

<p>شما می‌توانید از طریق درگاه پرداخت آنلاین متصل به فروشگاه، مبلغ خرید خود را به صورت امن و مطمئن پرداخت نمایید. با استفاده از این روش، نیازی به پرداخت نقدی یا کارت به کارت نمی‌باشد و پرداخت شما بلافاصله ثبت و تأیید خواهد شد.</p>

<h4>
مراحل پرداخت آنلاین:
</h4>

<p>
پس از انتخاب محصولات مورد نظر خود و تکمیل سبد خرید، به صفحه‌ی پرداخت هدایت می‌شوید.
اطلاعات مربوط به کارت بانکی خود را وارد نمایید. (شماره کارت، رمز دوم پویا، CVV2، تاریخ انقضاء)
با کلیک بر روی دکمه پرداخت، به درگاه پرداخت بانکی متصل می‌شوید.
پس از تأیید پرداخت، سفارش شما ثبت و پردازش خواهد شد.
لطفاً توجه داشته باشید که برای اطمینان از امنیت پرداخت‌ها، همواره از اتصال ایمن (HTTPS) استفاده کنید و از بازکردن لینک‌های مشکوک و ناشناس خودداری نمایید.
</p>

<h4>
نکات مهم:
</h4>
<p>
روشگاه تِکی کالا هیچ‌گونه اطلاعاتی از کارت بانکی شما ذخیره نمی‌کند و تمامی تراکنش‌ها از طریق درگاه‌های معتبر بانکی انجام می‌شود.
در صورت بروز هرگونه مشکل در فرآیند پرداخت، با پشتیبانی فروشگاه تماس بگیرید.
با سپاس از اعتماد شما، امیدواریم خریدی آسان و امن را در تِکی کالا تجربه کنید.
</p>

{% endblock %}
