{% extends "base.html" %}
{% block content %}
{% comment %} <form method="post">
    {% csrf_token %}
<input type="submit" value="save">
</form> {% endcomment %}
<div class="container">
    <h1 class="text-center">حریم خصوصی</h1>
    {% comment %} <p>
        از زمان فعالیت تیم ما یک سالی میگذره و سعی بر این موضوع داریم که کالاهای دیجیتال و با قیمت های مناسب در دسترس مشتری های خودمون قرار بدیم
    
    </p> {% endcomment %}
<h3>
حریم خصوصی سایت ما
</h3>
<h4>
۱. جمع‌آوری اطلاعات
</h4>
<p>
هنگامی که شما از سایت ما استفاده می‌کنید، ممکن است اطلاعات شخصی شما را جمع‌آوری کنیم. این اطلاعات ممکن است شامل نام، ایمیل، اطلاعات تماس، و یا دیگر اطلاعات مشابه باشد. ما این اطلاعات را جهت بهبود خدمات، ارتقاء تجربه کاربری و ارائه اطلاعات مورد نیاز استفاده می‌کنیم.</p>
<h4>
۲. استفاده از اطلاعات
</h4>
<p>
اطلاعات جمع‌آوری شده توسط ما صرفاً جهت اهداف داخلی مورد استفاده قرار می‌گیرد. ما این اطلاعات را با هیچ شخص یا سازمانی به اشتراک نمی‌گذاریم مگر این که به موجب قوانین محلی یا با موافقت شما باشد.
</p>
<h4>
۳. امنیت
</h4>
<p>
ما تدابیر امنیتی مناسب را برای حفاظت از اطلاعات شما اتخاذ می‌کنیم. با این حال، توجه داشته باشید که ارسال اطلاعات از طریق اینترنت همواره با خطرات امنیتی همراه است و ما هیچ گارانتی امنیتی اطلاعات ارسالی را نمی‌دهیم.
</p>
<h4>
۴. لینک‌های خارجی
</h4>
<p>
سایت ما ممکن است حاوی لینک‌های خارجی به سایت‌های دیگر باشد. ما هیچ مسئولیتی در قبال محتوا یا سیاست حریم خصوصی این سایت‌ها نداریم.
</p>
<h4>
۵. تغییرات در سیاست حریم خصوصی
</h4>

<p>
ما ممکن است این سیاست حریم خصوصی را با تغییرات در قوانین و مقررات به‌روز کنیم. تغییرات اصلاحی در سیاست حریم خصوصی اعلام خواهند شد و این صفحه را بروز خواهیم کرد تا شما از هر تغییری مطلع شوید.
</p>

<h4>
۶. تماس با ما
</h4>
در صورت داشتن هرگونه سوال یا ابهامی در مورد سیاست حریم خصوصی ما، لطفاً با ما تماس بگیرید.
<p>
تشکر از اعتماد شما به ما.</p>
</div>



{% endblock %}