{% extends 'base.html' %}

{% block content %}
<div class="container">
<h3> 
رویه‌های بازگرداندن کالا در فروشگاه تِکی کالا
</h3>

<p>
در فروشگاه تِکی کالا، رضایت مشتریان اولویت ماست. به همین منظور، شرایط و روش‌های بازگرداندن کالا به طور شفاف و ساده بیان شده است تا در صورت بروز هرگونه مشکل، بتوانید به راحتی اقدامات لازم را انجام دهید.
</p>

<h4>
شرایط بازگرداندن کالا

</h4>

<p>
مشتریان می‌توانند تا 7 روز پس از دریافت کالا، درخواست بازگرداندن را ثبت نمایند.
کالا باید در وضعیت اولیه و بدون استفاده بوده و بسته‌بندی اصلی و برچسب‌ها دست نخورده باشند.
فاکتور یا رسید خرید باید همراه کالا بازگردانده شود.
</p>

<h3>
مراحل بازگرداندن کالا

</h3>

<h4>
ارتباط با پشتیبانی:

</h4>
<p>
برای بازگرداندن کالا، ابتدا با شماره 09105675936 در واتس‌اپ یا تلگرام پیام ارسال کرده و مشکل کالای خود را توضیح دهید. تیم پشتیبانی در اسرع وقت درخواست شما را بررسی خواهد کرد.
</p>

<h4>
بررسی و تأیید:
</h4>

<p>
پس از بررسی مشکل توسط تیم پشتیبانی، در صورت تأیید، شما مجاز به بازگرداندن کالا خواهید بود. اطلاعات لازم برای ارسال کالا به شما ارائه خواهد شد.
</p>

<h4>
ارسال کالا:
</h4>

<p>
کالا را به آدرسی که توسط تیم پشتیبانی ارائه شده است، ارسال نمایید. هزینه ارسال اولیه و بازگشت کالا بر عهده مشتری می‌باشد، مگر در مواردی که اشتباه از جانب فروشگاه باشد.
</p>

<h4>
بررسی نهایی و بازپرداخت:
</h4>

<p>
پس از دریافت و بررسی نهایی کالا توسط تیم ما، در صورت تأیید شرایط بازگرداندن، مبلغ پرداختی به حساب شما بازگردانده خواهد شد.
</p>

<h4>
نکات مهم:
</h4>

<p>
لطفاً قبل از ارسال کالا، حتماً با پشتیبانی هماهنگ نمایید تا روند بازگرداندن کالا به درستی انجام شود.
هرگونه کالای بازگردانده شده بدون هماهنگی قبلی پذیرفته نخواهد شد.
ما در تِکی کالا همواره در تلاشیم تا بهترین خدمات را به مشتریان عزیز ارائه دهیم. در صورت هرگونه سؤال یا مشکل، تیم پشتیبانی ما آماده پاسخگویی به شماست.

</p>
</div>
{% endblock %}
